<html lang="en">
    <head>
        <title>display</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#e6ffee">
        <div class="one">
            <div class="two">
                <h1>ПАНЕЛЬКА</h1>
                <ul>
                    <li><a href="{{url_for('index')}}">Index</a></li>
                    <li class="active"><a href="{{url_for('display')}}">Display</a></li>
                    <li><a href="{{url_for('update')}}">Update</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul>
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>ВЫ НА ПОКАЗАТЕЛЬНОЙ СТРНИЦЕ </h2>
                </div> </br>
                <div class="contentbar">
                    <h1>ДАННЫЕ!!!</h1> </br>
                    {% block content %}
                        <div class="border">
                            <table class="worddark"></br></br></br></br>
                                <tr>
                                    <td>ИМЯ:</td>
                                    <td>{{ account['username'] }}</td>
                                </tr>
                                <tr>
                                    <td>ПАРОЛЬ:</td>
                                    <td>{{ account['password'] }}</td>
                                </tr>
                                <tr>
                                    <td>ВАШ ЕМАЙЛ:</td>
                                    <td>{{ account['email'] }}</td>
                                </tr>
                                <tr>
                                    <td>ВАШ ПОЛ:</td>
                                    <td>{{ account['organisation'] }}</td>
                                </tr>
                                <tr>
                                    <td>ВАША РАСА:</td>
                                    <td>{{ account['address'] }}</td>
                                </tr>
                                <tr>
                                    <td>ВАШ ГОРОД:</td>
                                    <td>{{ account['city'] }}</td>
                                </tr>
                                <tr>
                                    <td>ВАШ АДРЕС:</td>
                                    <td>{{ account['state'] }}</td>
                                </tr>
                                <tr>
                                    <td>ВАША СТРАНА:</td>
                                    <td>{{ account['country'] }}</td>
                                </tr>
                                <tr>
                                    <td>ВАШ КОД:</td>
                                    <td>{{ account['postalcode'] }}</td>
                                </tr>
                            </table>
                        </div>
                    {% endblock %}
                </div>

            </div>
        </div>
    </body>
</html>